@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;;
}

body {
    padding-top: 8rem; 
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgb(31, 25, 141) 0%, rgb(49, 21, 190) 17%, rgb(96, 175, 190) 99%);
}

.card-body {
    background-color: rgb(255, 255, 255);
    border-radius: 10%;
}
